<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="name-sort" (click)="sortByName()">Name</th>
            <th scope="col" class="date-sort" (click)="sortByDate()">Used on</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let url of urls; let i = index">
            <th scope="row">{{i+1}}</th>
            <td class="url-name">{{url?.name}}</td>
            <td>{{url?.dateUsed | date:'medium'}}</td>
            <td>
                <a
                    href="{{url?.link}}"
                    target="_blank"
                    class="btn btn-outline-primary"
                    (click)="onVisit(url?.id)"
                >
                    Visit
                </a>
                &nbsp;
                <button
                    (click)="onRemove(url?.id)"
                    class="btn btn-outline-danger"
                >
                    Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>
