<div class="form-container">
    <h2>Add new URL</h2>

    <form
        (submit)="onAdd(urlForm)"
        #urlForm="ngForm"
    >
        <input
            class="form-control"
            name="url"
            type="url"
            ngModel
            #URLInput="ngModel"
            required
            placeholder="URL"
        >
        <input
            class="form-control"
            name="name"
            type="text"
            ngModel
            #nameInput="ngModel"
            required
            placeholder="Name"
        >
        <textarea
            class="form-control"
            name="description"
            type="text"
            ngModel
            #descriptionInput="ngModel"
            placeholder="Description"
        > </textarea>

        <button type="submit" class="btn btn-outline-dark">Add</button>
    </form>
</div>
